<div class="col-md-3" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
        <ul class="nav bs-docs-sidenav">
            <li><a>{# right list #}</a></li>
            <li><h2>Search</h2></li>
            <li>
                <div class="input-group">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="query" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                    </form>
                </div>
            </li>
            <li><h2>Language</h2></li>
            <li><a href="#">正體中文</a></li>
            <li><a href="#">簡體中文</a></li>
            <li><a href="#">English</a></li>
            <!-- todo use OpenCC and Google Translator to change the language -->
            <li><h2>Categorys</h2></li>

            {% for category in categorys %}
                <li><a href="{% url 'category' shortUrl=category.shortUrl %}">{{ category.title }}({{ category.number }})</a>
                </li>
            {% endfor %}

            <li><h2>Hot</h2></li>
            {% for hotPassage in hotPassages %}
                <li>
                    <a href="{% url 'archive' shortUrl=hotPassage.shortUrl %}">{{ hotPassage.title }}({{ hotPassage.accessCount }})</a>
                </li>
            {% endfor %}
            <li><h2>Time Machine</h2></li>
            {% for timeMachine in timeMachines %}
                <li>
                    <a href="{% url 'timeMachine' year=timeMachine.year month=timeMachine.month %}">{{ timeMachine.title }}({{ timeMachine.number }})</a>
                </li>
            {% endfor %}
        </ul>
        <a class="back-to-top" href="#top">
            返回顶部
        </a>

    </nav>
</div>