<style type="text/css">
    .entry-meta {
        color: #878787;
        float: left;
        margin: 10px 20px 0 0;
        text-align: center;
        width: 125px;
        font-size: 12px;
        line-height: 20px
    }

    .post-date {
        width: 56px;
        height: auto;
        float: left;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 15px;
        display: block;
        background: #9dcedf;
        text-shadow: 0 1px #81bcd1;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        padding: 10px 30px;
        border: 4pt solid #fff;
        -moz-box-shadow: 0 0 3px #b7b7b7;
        -webkit-box-shadow: 0 0 3px #b7b7b7;
        box-shadow: 0 0 3px #b7b7b7
    }

    .post-month {
        display: block;
        color: #fff
    }

    .post-day, .post-year {
        display: block
    }

    .post-day {
        font-size: 36px;
        color: #fff;
        margin: 10px 0 15px 0
    }

    .post-year {
        background: url("https://www.byvoid.com/images/post-meta-divider.png") top repeat-x;
        color: #fff;
        padding: 10px 0 0 0
    }
</style>

<aside class="entry-meta">
    <time datetime="2012-06-17T18:05:54.000Z" class="post-date">
        <span class="post-month">六月</span>
        <strong class="post-day">17</strong>
        <span class="post-year">2012</span>
    </time>
</aside>